@mixin carousel-animation($duration: 20s) {
  animation: scroll-left $duration linear infinite;
}

.app-currencies {
  background-color: black;
  width: 100%;
  padding: 1rem;
  overflow: hidden;

  .carousel-container-mobile {
    display: none;
  }

  .cards-desktop-fixed {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .currency-card {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: #111111;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    min-width: 200px;
    flex-shrink: 0;

    img {
      width: 42px;
      height: 42px;
    }

    .info {
      display: flex;
      flex-direction: column;

      .price {
        font-weight: 600;
        font-size: 1.2rem;
        color: white;
      }

      .symbol-change {
        display: flex;
        gap: 0.5rem;
        align-items: center;
      }

      .symbol {
        font-size: 0.85rem;
        font-weight: 500;
        color: #646464;
        margin: 0;
      }

      .change {
        font-size: 0.85rem;
        margin: 0;

        &.positive {
          color: green;
        }

        &.negative {
          color: red;
        }
      }
    }
  }

  // Responsividade
  @media (max-width: 768px) {


    .cards-desktop-fixed {
      display: none;
    }

    .carousel-container-mobile {
      display: flex;
      gap: 1rem;
      width: max-content;
      @include carousel-animation(20s);

      .currency-card {
        justify-content: center;
        min-width: 100px;
        flex-shrink: 0;

        img{
          width: 24px;
          height: 24px;
        }

        .info{
          .price{
            font-size: 0.85rem;
          }
        }
      }
    }
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
