<section class="app-currencies">
  <div class="cards-desktop-fixed">
    @for (cotacao of cotacoes; track cotacao.moeda){
    <div class="currency-card">
      <img src="{{ cotacao.icon }}" alt="" />
      <div class="info">
        <p class="price">R${{ cotacao.preco }}</p>
        <div class="symbol-change">
          <p class="symbol">{{ cotacao.symbol }}</p>
          <p class="change positive">+0.23%</p>
        </div>
      </div>
    </div>
    }
  </div>

  <div class="carousel-container-mobile">
    @for (cotacao of cotacoes; track cotacao.moeda){
    <div class="currency-card">
      <img src="{{ cotacao.icon }}" alt="" />
      <div class="info">
        <p class="price">R${{ cotacao.preco }}</p>
        <div class="symbol-change">
          <p class="symbol">{{ cotacao.symbol }}</p>
          <p class="change positive">+0.23%</p>
        </div>
      </div>
    </div>
    } @for (cotacao of cotacoes; track cotacao.moeda){
    <div class="currency-card">
      <img src="{{ cotacao.icon }}" alt="" />
      <div class="info">
        <p class="price">R${{ cotacao.preco }}</p>
        <div class="symbol-change">
          <p class="symbol">{{ cotacao.symbol }}</p>
          <p class="change positive">+0.23%</p>
        </div>
      </div>
    </div>
    }
  </div>
</section>
