<section class="local-news">
  <h2>Notícias Locais</h2>

  <div class="news-grid">
    @if (featuredNews) {
    <div class="featured-news-wrapper">
      <app-news-card
        [category]="featuredNews.category"
        [title]="featuredNews.title"
        [description]="featuredNews.description"
        [imageUrl]="featuredNews.imageUrl"
        [isFeatured]="true"
        [slug]="featuredNews.slug"
      ></app-news-card>
    </div>
    }

    @for (news of regularNews; track news.slug) {
    <app-news-card
      [category]="news.category"
      [title]="news.title"
      [description]="news.description"
      [imageUrl]="news.imageUrl"
      [isFeatured]="false"
      [slug]="news.slug"
    ></app-news-card>
    } @empty {
    <p>Nenhuma outra notícia local disponível no momento.</p>
    }
  </div>

  <button class="read-more-btn">Ver mais</button>
</section>
