<div class="news-page">
  <button class="back-button" (click)="goBack()">← Voltar</button>

  @if (!news) {
  <div class="loading-spinner">
    <div class="spinner"></div>
    <p>Carregando notícia...</p>
  </div>
  } @else {
  <div class="news-header">
    <h1 class="news-title">{{ news.title }}</h1>

    <div class="news-meta">
      <span
        ><i class="fa-solid fa-user"></i>
        {{ news.author ? news.author : news.sourceName }}</span
      >
      <span
        ><i class="fa-solid fa-clock"></i>
        {{ news.publishedAt | date : "dd/MM/yyyy HH:mm" }}</span
      >
    </div>
  </div>

  <div class="news-image-wrapper">
    <img
      [src]="news.imageUrl"
      alt="Imagem da notícia"
      (error)="onImageError($event)"
    />
  </div>

  <div class="news-content" [innerHTML]="news.body"></div>

  <p class="news-source">
    Fonte: <span>{{ news.sourceName }}</span>
  </p>

  @if(news.sourceUrl){
  <a class="full-article-button" [href]="news.sourceUrl" target="_blank">
    Ler notícia na íntegra
  </a>
  }

  <div class="share-section">
    <p>Compartilhar:</p>
    <button (click)="shareWhatsApp()">WhatsApp</button>
    <button (click)="copyLink()">Copiar Link</button>
  </div>

  <div class="related-news">
    <h3>Outras notícias</h3>
    <div class="related-grid">
      @for (related of otherNews; track related.slug) {
      <app-news-card
        [category]="related.category"
        [title]="related.title"
        [imageUrl]="related.imageUrl"
        [isFeatured]="false"
        [slug]="related.slug"
      />
      }
    </div>
  </div>
  }
</div>
