<section class="admin-section">
  <h2>Painel Administrativo</h2>

  <div class="form-container">
    <h3>Adicionar Nova Notícia</h3>
    <form [formGroup]="newsForm" (ngSubmit)="onSubmitNews()">
      <div class="form-field">
                <label for="title">Título</label>        
        <input id="title" type="text" formControlName="title" />      
      </div>
           
      <div class="form-field">
                <label for="category">Categoria</label>        
        <input id="category" type="text" formControlName="category" />      
      </div>
           
      <div class="form-field">
                <label for="description">Descrição</label>        
        <textarea id="description" formControlName="description"></textarea>    
         
      </div>

      <div class="form-field">
        <label for="body">Corpo da Notícia</label>
        <div class="NgxEditor__Wrapper">
          <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
          <ngx-editor
            [editor]="editor"
            id="body"
            formControlName="body"
            [placeholder]="'Escreva a notícia aqui...'"
          ></ngx-editor>
        </div>
      </div>

      <div class="form-field">
        <label for="imageFile">Imagem da Notícia</label>
        <input
          id="imageFile"
          type="file"
          accept="image/*"
          (change)="onFileSelected($event)"
        />
      </div>

      <button type="submit" [disabled]="newsForm.invalid">
        Adicionar Notícia
      </button>
    </form>
  </div>

  <hr />

  <div class="banners-container">
    <h3>Gerenciar Banners</h3>

    @for (banner of banners(); track banner.id) {
    <div class="banner-manager">
      <h4>{{ banner.name }} (ID: {{ banner.id }})</h4>
      <p>Imagem Atual:</p>
      <img
        [src]="banner.imageUrl"
        alt="{{ banner.name }}"
        class="current-banner-preview"
      />

      <div class="form-field">
        <label for="bannerFile-{{ banner.id }}">Enviar nova imagem</label>
        <input
          id="bannerFile-{{ banner.id }}"
          type="file"
          accept="image/*"
          (change)="onBannerFileSelected($event, banner.id)"
        />
      </div>
    </div>
    } @empty {
    <p>Carregando banners ou nenhum banner encontrado...</p>
    }
  </div>
</section>
